header h1 {
    color: #333333
}
nav ul {padding: 0;}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: #ffffff;
}
main img {
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer {
    text-align: center;
    clear: both;
}